:root {
    --white: #ffffff;
    --grey: #aaaaaa;
    --darkblue: #4b778d;
    --lightblue: #28b5b5;
    --lightgreen: #8fd9a8;
    --yellowgreen: #d2e69c;
}


/* beginning of fixed nav bar css */
* {
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--darkblue);
    min-height: 100vh;
    text-align: center;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;
    background: var(--white);
    color: var(--darkblue);
    width: 100%;
    z-index: 12;
    position: fixed;
}

header h1{
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: #206a5d;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: var(--darkblue);
}

nav {
    float: right;
    line-height: 100px;
}

nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0 20px;
    color: var(--darkblue);
}

.banner-area {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url("../images/2393786.jpg");
    background-size: cover;
    background-position: center center;
}

.banner-area h2{
    padding-top: 8%;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

.content-area {
    width: 100%;
    position: relative;
    top: 450px;
    background: var(--white);
    height: 1500px;
}

.content-area h2 {
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.wrapper p {
    font-size: 20px;
}

.content-area p{
    padding: 2% 0;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.text--medium a {
    font-size: 20px;
    color: #206a5d;
    font-weight: 300px;
}


form {
    padding-top: 300px;
}

input {
    padding: 12px;
}

.signup {
    background-image: url(../images/1414728.jpg);
    font-family: 'Roboto', sans-serif;
}


/* login page css */
.login {
    background-image: url("../images/112711.jpg");
    font-family: 'Roboto', sans-serif;
}


.boxmodel {
    background-color: var(--white);
    width: 470px;
    padding: 30px;
    margin-left: 510px;
    border-radius: 5px; 
}

.boxmodel h2 {
    padding: 25px;
}

.boxmodel p {
    padding: 25px;
    font-size: 20px;
}

.boxmodel input {
    padding: 10px;
    color: var(--darkblue);
    font-weight: bolder;
    width: 200px;
}

.inputfield {
    display: block;
    margin: 18px;
}



/* Sign up page css */
.boxmodel2 {
    background-color: var(--white);
    width: 470px;
    padding: 30px;
    margin-left: 510px;
    margin-top: 0;
    border-radius: 5px; 
}

.boxmodel2 input {
    padding: 10px;
    color: var(--darkblue);
    font-weight: bolder;
    width: 250px;
}




/* gallery of trail categories on home page */
main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.text--medium {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--darkblue);
}

.cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.card:hover {
    transform: translate(-7px);
}

.card_image_container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card_image_container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_content {
    padding: 20px;
}

.card__title {
    margin-bottom: 20px;
}

.card_info {
    display: flex;
    align-self: end;
    align-items: center;
}

.card__text {
    margin-left: auto;
    padding: 5px 20px;
    background-color: var(--white);
    border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
    .card{
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 700px) {
    main {
        grid-gap: 20px;
    }
    .card {
        grid-column-end: span 12;
    }
}

@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }
    .cards {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
    .card {
        grid-column-end: span 6;
    }
}


/* Update Profile Page */

.userinputs {
    color: var(--darkblue);
    font-size: 25px;
    margin-top: 300px;
    text-align: center;
    background: var(--white);
    width: 470px;
    padding: 25px;
    border-radius: 5px;     
    margin-left: 700px;
}


.updateprofile_box form {
    padding-top: 0px;
}

.inputfield input {
    width: 250px;
    font-size: 18px;
}

.updateprofile {
    background: url("../images/5314493.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}

.submitchanges {
    background: var(--white);
    font-size: 18px;
    text-align: center;
    border-color: var(--grey);
    border-width: 4px;
}

/* info page */

.contentlinks ul {
    list-style-type: none;
}

/* trail category view page */

.traildetails {
    margin-top: 300px;
}

aside {
    float: left;
    text-align: left;
    margin-top: -120px;
    margin-left: 180px;
    color: #ffffff;
    background-color: #206a5d;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    
}

.view_category_trails button {
    padding: 10px;
    font-size: 15px;
    color: var(--white);
    display: inline;
}

.mapboxgl-map {
    float: right;
    margin-right: 300px;
    margin-top: -80px;
}

ul {
    list-style: none;
    line-height: 30px;
}

.trail_name_display {
    padding: 5px;
}

.trail_location_display {
    padding: 5px;
}

.trail_length_display {
    padding: 5px;
}

.trail_difficulty_display {
    padding: 5px;
}

/* create event page */

.create_event_header h2 {
    padding: 175px;

}
.create_event input {
    text-align: center;
    display: block;
}



/* .create_event form {
    padding-top: 100px;

} */



