:root {
    --white: #ffffff;
    --grey: #aaaaaa;
    --darkblue: #4b778d;
    --lightblue: #28b5b5;
    --lightgreen: #8fd9a8;
    --yellowgreen: #d2e69c;
  }


body {
    background-color: var(--white);
    color: var(--darkblue);
    min-height: 100vh;
  }

.signupform {
    text-align: center;
  }


  /* sign up page background: */
  /* https://cache.desktopnexus.com/thumbseg/1953/1953237-bigthumbnail.jpg */