{% extends 'base.html' %} 


{% block content %}

    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
    
        <h2>Sign up</h2>

        {% comment %} {{ form.errors }}
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %} {{form.as_p}}
            <input type="submit" value="Sign up" />
            <input type="hidden" value="{{ next }}" name="next" />
        </form> {% endcomment %}

        <p> First name:
            <input type="text" name="first_name" placeholder="Bob">
        </p>

        <p> Last name:
            <input type="text" name="last_name" placeholder="Smith">
        </p>

        <p> Username:
            <input type="text" name="username" placeholder="bobsmith2">
        </p>

        <p> Email:
            <input type="text" name="email" placeholder="email">
        </p>

        <p> Password:
            <input type="password" name="password1" placeholder="password">
        </p>
        
        <p> Confirm password:
            <input type="password" name="password2" placeholder="password">
        </p>

        <input type="submit" value="Sign Up" />
    </form>

{% endblock %}

