{% extends 'base.html' %} 


{% block content %}

<body class="signup">
    

    <div class="signupform">

        <form class="signupfields" method="post" action="{% url 'signup' %}">
            {% csrf_token %}

            <div class="boxmodel2">
                <h2> Create your free account </h2>
                <br />
                <p> Save favorite trails & create community hikes</p>

                {% comment %} {{ form.errors }}
                <form method="post" action="{% url 'signup' %}">
                {% csrf_token %} {{form.as_p}}
                <input type="submit" value="Sign up" />
                <input type="hidden" value="{{ next }}" name="next" />
                </form> {% endcomment %}

                <span class="inputfield">
                    <input type="text" name="first_name" placeholder="First name">
                </span>
            

                <span class="inputfield">
                    <input type="text" name="last_name" placeholder="Last Name">
                </span>
            

                <span class="inputfield">
                    <input type="text" name="email" placeholder="Email">
                </span>
            

                <span class="inputfield">
                    <input type="password" name="password1" placeholder="Password">
                </span>
            
        
                <span class="inputfield">
                    <input type="password" name="password2" placeholder="Confirm password">
                </span>
            

                <span class="inputfield">
                    <input type="submit" value="Sign Up" />
                </span>
            
                <p>
                Already have an account? <a href="{% url 'customlogin' %}">Log In</a> 
                </p>

            </div>
        
        </form>


    </div>

</body>


{% endblock %}

