{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css' rel='stylesheet' />
    <script src="{% static 'scripts/main.js' %}" defer></script>

    <title>Capstone Project</title>
</head>
<body>

<nav>
    {% comment %} <img src="" alt="Mountain Logo"> {% endcomment %}
    <h1>BuiltToRoam</h1>
    
    <div class="url-links">
        {% if user.is_authenticated %}
        <a href="{% url 'profile' user.pk %}">Profile</a> 
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'favtrails' %}">Favorite Trails</a>
  
        {% else %}
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'customlogin' %}">Log In</a>
        <a href="{% url 'trailcategory' %}">Trail Category</a>
    
        {% endif %}

    </div>
    
</nav> 

    {% comment %} <img src="" alt="Mountain Logo"> {% endcomment %}
    
    
    {% block content %}


    {% endblock %}
</body>
</html>