{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Julius+Sans+One&display=swap');
    </style>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css' rel='stylesheet' />
    <script src="{% static 'scripts/main.js' %}" defer></script>

    <title>BuiltToRoam</title>
</head>
<body>

    <div class="box-area">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <h1>BuiltToRoam</h1> 
                </div>
        
                <nav>
                    {% if user.is_authenticated %}
                    {% comment %} <img class="mountainlogo" src="{% static 'images/mountainlogo.png' %}" alt="mountain_logo" width=70 height=70>  {% endcomment %}
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'profile' user.pk %}">Update Profile</a> 
                    <a href="{% url 'logout' %}">Logout</a> 
                    <a href="{% url 'favtrails' user.pk %}">Favorite Trails</a> 
  
                    {% else %}
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                    <a href="{% url 'customlogin' %}">Log In</a>
    
                    {% endif %}
                </nav>
            </div>
        </header>
    </div>
    
    
    {% block content %}


    {% endblock %}

</body>
</html>