{% extends 'base.html' %}

{% block content %}

<body class="createeventpage">


    <div class="create_event_header">
        <h2>Create Event</h2>
    </div>

    <div class="form_create_event">

        <form class="create_event" method="post">
        {% csrf_token %} {{form.errors}}

        <ul>
            <li> <span class="trail_name_display">Trail: {{trail.trail_name}}</span> </li>
            <li> <span class="trail_location_display">Location: {{trail.location}}</span> </li>
        </ul>
    
        <br />
        <br />

        <input type="text" name="date" placeholder="Date of Event">

        <br />
        <br />

        <input type="text" name="time" placeholder="Time 09:00 PST">

        <br />
        <br />
        
        <input class="description" type="text" name="description" maxlength="300" size="20" placeholder="Description of event"> 
        
        <br />
        <br />

         <input id= "submitevent" type="submit" value="Submit Event" />

        </form>

    </div>

</body>



{% endblock %}