{% extends 'base.html' %} 


{% block content %}

<div class="banner-area">
            <h2>Plan your next adventure</h2>
        </div>
        <div class="content-area">
            <div class="wrapper">
                <h2>Start Exploring</h2>
                <p>Ready to enjoy the outdoors? Here you can view trail cateogries of your choice and see what's out there for you to explore. You can use these to your advantage to make your planning a little easier. Get outside today!</p>
            </div>

    <main>
        <section class="cards">
            <div class="card">
                <div class="card_image_container">
                    <img src="https://images.unsplash.com/photo-1489440543286-a69330151c0b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80" alt="">
                </div>
                <div class="card_content">
                    <p class="card__title text--medium">
                        <a href="{% url 'trailcategory' 'dog friendly' %}">Dog Friendly</a>
                    </p>
                    {% comment %} <div class="card_info">
                        <p class="text--medium">Text</p>
                        <p class="card__text text--medium">Text</p>
                    </div>  {% endcomment %}
                </div>
            </div>
            <div class="card">
                <div class="card_image_container">
                    <img src="https://images.unsplash.com/uploads/141148589884100082977/a816dbd7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80" alt="">
                </div>
                <div class="card_content">
                    <p class="card__title text--medium">
                        <a href="{% url 'trailcategory' 'hiking' %}">Hiking</a>
                    </p>
                    {% comment %} <div class="card_info">
                        <p class="text--medium">Text</p>
                        <p class="card__text text--medium">Text</p>
                    </div>  {% endcomment %}
                </div>
            </div>
            <div class="card">
                <div class="card_image_container">
                    <img src="https://images.unsplash.com/photo-1511225070737-5af5ac9a690d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80" alt="">
                </div>
                <div class="card_content">
                    <p class="card__title text--medium">
                        <a href="{% url 'trailcategory' 'views' %}">Views</a>
                    </p>
                    {% comment %} <div class="card_info">
                        <p class="text--medium">Text</p>
                        <p class="card__text text--medium">Text</p>
                    </div> {% endcomment %}
                </div> 
            </div>
            <div class="card">
                <div class="card_image_container">
                    <img src="https://images.unsplash.com/photo-1445307806294-bff7f67ff225?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80" alt="">
                </div>
                <div class="card_content">
                    <p class="card__title text--medium">
                        <a href="{% url 'trailcategory' 'camping' %}">Camping</a>
                    </p>
                    {% comment %} <div class="card_info">
                        <p class="text--medium">Text</p>
                        <p class="card__text text--medium">Text</p>
                    </div> {% endcomment %}
                </div> 
            </div>
            <div class="card">
                <div class="card_image_container">
                    <img src="https://images.unsplash.com/photo-1502126324834-38f8e02d7160?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80" alt="">
                </div>
                <div class="card_content">
                    <p class="card__title text--medium">
                        <a href="{% url 'trailcategory' 'rock climbing' %}">Rock Climbing</a>
                    </p>
                    {% comment %} <div class="card_info">
                        <p class="text--medium">Text</p>
                        <p class="card__text text--medium">Text</p>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="card">
                <div class="card_image_container">
                    <img src="https://images.unsplash.com/photo-1600215568806-46c967f1e8ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80" alt="">
                </div>
                <div class="card_content">
                    <p class="card__title text--medium">
                        <a href="{% url 'trailcategory' 'waterfall' %}">Waterfalls</a>
                    </p>
                    {% comment %} <div class="card_info">
                        <p class="text--medium">Text</p>
                        <p class="card__text text--medium">Text</p>
                    </div> {% endcomment %}
                </div>
            </div>
        </section>
    </main>

    <span>
    <a href="{% url 'infopage' %}">Tips for Safe Exploring</a>
    </span>

{% endblock %}