{% extends 'base.html' %}

{% block content %}

<body class="infopage">

<section class="contentinfo">
    <div class="infoheader">
        <h1 class="introtext">Hiking Alone?</h1>
        <h3>Or, you're completely new to exploring trails? </h3>
    </div>

    <div class="contentlinks">
        <p>
        Here's some information that can be helpful for you to know before going on your first adventure either alone or for the first time all together. Checklist of supplies are highly recommended!
        </p>

        <br/>
        <br />
        <h3>Resources</h3>
        <br />
    
        <ul>
            <li> <a href="https://www.rei.com/learn/expert-advice/hiking-for-beginners.html">REI - Hiking for Beginners </a> </li>
            <li> <a href="https://bearfoottheory.com/hiking-alone/"> Bearfoot Theory - Hiking Alone </a> </li>
            <li> <a href="https://www.nomadicmatt.com/travel-blogs/girls-guide-to-hiking-solo/"> Nomadicmatt.com - Girl's Guide to Hiking Solo </a> </li>
            <li> <a href="https://www.myopencountry.com/hiking-for-beginners/">Myopencountry.com - Hiking for Beginners</a> </li>
        </ul>

    </div>
</section>
</body>

{% endblock %}