{% extends 'base.html' %}

{% block content %}

<div class="header">
    <h1>Hiking Alone?</h1>
    <h3>Or, you're completely new to exploring trails? </h3>
</div>

<div class="content">
    <p>
    Here's some information that can be helpful for you to know before going on your first adventure either alone or for the first time all together.
    </p>

    <h4>Resources</h4>
        <a href="">External page 1</a>
        <a href="">External page 2</a>
        <a href="">External page 3</a>
        <a href="">External page 4</a>

    <h4>Checklist of supplies</h4>
        <ul class="supplies">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

</div>

{% endblock %}