{% extends 'base.html' %}

{% block content %}


    <p>{{ user.profile.first_name }}</p>

<body class="updateprofile">

    <section class="userinputs">
        
        <div class="updateprofile_box">
            
            <p>Update your information here, {{user.profile.first_name}}</p>

            <form method="POST" action="{% url 'updateProfile' user.pk %}">
            {% csrf_token %}

                <span class="inputfield">
                    <input type="text" name="first_name" placeholder="{{ user.profile.first_name }}">
                </span>

                <span class="inputfield">
                    <input type="text" name="last_name" placeholder="{{ user.profile.last_name }}">
                </span>

                <span class="inputfield">
                    <input type="text" name="email" placeholder="{{ user.profile.email }}">
                </span>

                <input type="submit" class="submitchanges" value="Submit changes">
            </form>
        
        </div>
    
    </section>

    </body>



{% endblock %}