{% extends 'base.html' %}

{% block content %}


<body class="showtrailpage">
    

<h1 class="showtrailsheader">{{trail.trail_name}} Community Events </h1>

<div class="traildetails">
    <div class="textinfo">
        <aside class="list_of_fav_trails">
            {% for community_hike in trail.community_hikes.all %}

            <p>Date: {{community_hike.date }}</p>
            <p>Time: {{community_hike.time}}</p>
            <p>Description: {{community_hike.description}}</p>
            <br />
            <br />
            {% endfor %}

        </aside>
    </div>
    
    <div class="map">
        <div id='map' style='width: 600px; height: 600px;'>
            <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoibGVzbGV5c2F1dGVyIiwiYSI6ImNrcDhuenN4dTBhNzMyeG54em81dGlxY2UifQ.k1YPnWFRXEvyyfYANmGajQ';
                var map = new mapboxgl.Map({
                container: 'map', // container ID
                style: 'mapbox://styles/mapbox/outdoors-v11', // style URL
                center: [{{trail.longitude}}, {{trail.latitude}}], // starting position [lng, lat]
                zoom: 9 // starting zoom
                });
                
                    new mapboxgl.Marker()
                    .setLngLat([{{trail.longitude}}, {{trail.latitude}}])
                    .setPopup(new mapboxgl.Popup().setHTML("{{trail.trail_name}}"))
                    .addTo(map);
                
            </script>
        </div>
    </div>
</div>

</body>


{% comment %} Mapbox code {% endcomment %}


{% endblock %}