{% extends 'base.html' %}

{% block content %}

<h1> {{trail.category}} </h1>

<body class="trail_category_page">
    


<div class="traildetails">
    <div class="textinfo">
        <aside class="view_category_trails">
            {% for trail in trails %}
                <ul>
                    <li> Trail: {{trail.trail_name}} </li>
                    <li> Location: {{trail.location}} </li>
                    <li> Length: {{trail.length}} </li>
                    <li> Difficulty: {{trail.difficulty}} </li>
                    <br />
                    {% if user.is_authenticated %}
                    <li> 
                        <form id="addtofavbtn" action="{% url "favtrails" user.pk %}" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="trail_id" value="{{ trail.pk }}">
                            <input type="submit" value="Add to favorites">
                        </form>
                    </li>

                    <br />

                    <li> 
                        <button> <a href="{% url 'createevent' trail.pk %}">Create Event</a> </button>
                    </li>

                    {% endif %}

                    <br />

                    <li> 
                        <button> <a href="{% url 'viewevent' trail.pk %}">View events</a> </button>
                    </li>

                    <br />

                </ul>
            {% endfor %}
        </aside>
    </div>

    <div class="map">
        <div id='map' style='width: 600px; height: 600px;'>
            <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoibGVzbGV5c2F1dGVyIiwiYSI6ImNrcDhuenN4dTBhNzMyeG54em81dGlxY2UifQ.k1YPnWFRXEvyyfYANmGajQ';
                const center = {
                    longitude: {{trails.0.longitude}},
                    latitude: {{trails.0.latitude}}
                }
                var map = new mapboxgl.Map({
                container: 'map', // container ID
                style: 'mapbox://styles/mapbox/outdoors-v11', // style URL
                center: [center.longitude, center.latitude], // starting position [lng, lat]
                zoom: 9 // starting zoom
                });
                {% for trail in trails %}
                    new mapboxgl.Marker()
                    .setLngLat([{{trail.longitude}}, {{trail.latitude}}])
                    .setPopup(new mapboxgl.Popup().setHTML("Trail name goes here"))
                    .addTo(map);
                {% endfor %}
            </script>
        </div>
    </div>

</div>

{% comment %} map for selected trail will display here {% endcomment %}

{% comment %} Mapbox code {% endcomment %}

 


    

    </body>

{% endblock %}