{% extends 'base.html' %}

{% block content %}

<h1> Trail Category Show Page </h1>

<div class="traildetails">

{% for trail in trails %}
    <ul>
    <li> <span class="trail_name_display">{{ trail.trail_name }}</span> </li>
    <li> <span class="trail_location_display">{{ trail.location }}</span> </li>
    <li> <span class="trail_length_display">{{ trail.length }}</span> </li>
    <li> <span class="trail_category_display">{{ trail.category }}</span> </li>
    <li> <span class="trail_difficulty_display">{{ trail.difficulty }}</span> </li>
    </ul>
{% endfor %}
</div>

{% comment %} map for selected trail will display here {% endcomment %}

{% comment %} Mapbox code {% endcomment %}

<div id='map' style='width: 400px; height: 300px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibGVzbGV5c2F1dGVyIiwiYSI6ImNrcDhuenN4dTBhNzMyeG54em81dGlxY2UifQ.k1YPnWFRXEvyyfYANmGajQ';
        var map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
        });
    </script>

{% endblock %}