{% extends 'base.html' %}

{% block content %}

<h1>User's Favorited Trails Page</h1>


{% comment %} Mapbox code {% endcomment %}

<div id='map' style='width: 400px; height: 300px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibGVzbGV5c2F1dGVyIiwiYSI6ImNrcDhuenN4dTBhNzMyeG54em81dGlxY2UifQ.k1YPnWFRXEvyyfYANmGajQ';
        var map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
        });
    </script>

{% endblock %}