{% extends 'base.html' %}

{% block content %}

<body class="vieweventpage">
    

<h1 id="vieweventheader">View Event</h1>


<div class="view_event_info">
    <div class="view_info_list"></div>
    <ul>
        <li> <span class="event_trail_name">Trail: {{ communityhike.trail.trail_name }}</span> </li>
        <li> <span class="event_location">Location: {{ communityhike.trail.location }}</span> </li>
        <li> <span class="event_attendees">Attendees: {{ communityhike.attendees.count }}</span> </li>
        <li> <span class="event_date">Date: {{ communityhike.date }}</span> </li>
        <li> <span class="event_time">Time: {{ communityhike.time }}</span> </li>
        <li> <span class="event_description">Description: {{ communityhike.description }}</span> </li>
                
                

                <a href="{% url "deleteevent" communityhike.pk %}">Delete Event</a>
    
    </ul>
    </div>
</div>
</body>

{% endblock %}